.mydiv {
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin: 2rem 3rem 0 3rem;
    background-color: rgb(255, 255, 255);
    font-family: Poppins;
}
.topnav {
    display:flex;
    gap: 2rem;
    font-family: Poppins;
}

.topnav a {
    text-decoration:none;
    padding: 1rem;
    color: black;
    transition: color 0.5s ease-in-out;
}

.topnav a:hover {
    color: rgb(237, 100, 2);
}

.button {
    display: flex;
    background-color: rgb(237, 100, 2);
    color:white;
    border:none;
    padding:0.5rem 1rem;
    cursor:pointer;
    text-decoration: none;
    transition: padding 0.5s;
    font-family: Poppins;
}
.button:hover{
    padding:1rem 1.5rem;
}
.Intro{
  display:flex;
  margin: 3rem 2rem 0px 1.25rem;
  background-color: rgb(255, 255, 255);
  font-family: Poppins;
}
.picture{
 margin-left: auto;
 margin-right: 2rem;
 text-align: centre;
 margin-top: 2.5rem;
}
.name{
    margin-left: 5rem;
    font-family: Poppins;
}
.maheen{
 color: rgb(237, 100, 2);
 font-weight: 700;
 font-family: Poppins;
}
.ui,.designer{
    font-size: 3rem;
    font-weight: 700;
    margin:0;
    line-height: 1;
    font-family: Poppins;
}
.hire{
  background-color: rgb(237, 100, 2);
    color:white;
    border:none;
    padding:0.5rem 1.25rem;
    cursor:pointer;   
    transition: padding 0.5s;
    font-family: Poppins;
}
.hire:hover{
    padding:1rem 1.5rem;
}
.icon{
    margin-top: 0.75rem;
    margin-left: 5rem;
    transition: filter 0.5s ease;
}
.icon:hover{
    filter:hue-rotate(180deg)
}
.About_me{
    display: flex;
    margin: 3rem 2rem 0px 1.25rem;
    padding-bottom: 8.5rem;
    align-items:center;
    background-color: rgb(255, 255, 255);
}
.image2{
margin-left: 12.5rem;
margin-top: 8rem;
}
.aboutme{
    font-family: Poppins;
    font-weight: 600;
    font-size: 3rem;
    margin-left: 15.5rem;

}
input[type="range"]{
    width: 15rem;
}
.lorem{
    margin-top: -1.25rem;
    margin-left: 15.6rem;
    font-size: 0.8rem;
    font-family: Poppins;
}
.slider{
  accent-color:rgb(237, 100, 2);
  height: 100px;
  outline: none;
  opacity: 0.7;
  margin-left: 15.6rem;
}
.slider:hover {
  opacity: 1;
}
.slider_option{
    font-weight: 600;
}
.services{
    display: flex;
    flex-direction: column;
    margin: 3rem 2rem 0px 2.25rem;
    background-color: rgb(255, 255, 255);
}
.ser_heading{
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
    font-size: 3rem;
}
.ser_lorem{
    text-align: center;
margin-top: -4.25rem;
font-size: 1rem;
font-family: Poppins;
}
.ser_box{
display: flex;
gap: 1.25rem;
justify-content: center;
font-family: Poppins;
}
.box{
  background-color: rgb(248, 248, 248);
  width: 14.25rem;
  height: 13.75rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #ffffff; 
  transition: width 1s ease-in-out, height 1s ease-in-out, box-shadow 1s ease-in-out;

}
.box:hover{
    width:15.25rem;
    height: 14.75rem;
    box-shadow: 0 0 2rem #dad9d9;
}
.service_image{
    margin-right: 9.75rem;
}
.box_heading{
    margin-right: 9.75rem;
    font-size: 1.25rem;
    font-weight: 700;
white-space: nowrap;
font-family: Poppins;
}
.box_para{
    font-size: 0.75rem;
    text-align: left;
    margin-left: 0.65rem;
    font-family: Poppins;
}
.my_project{
    display: flex;
    margin: 3rem 2rem 0px 1.5rem;
   background-color: rgb(255, 255, 255);
    height: 200px;
     flex-direction: column;
}
.proj_heading{
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
    font-size: 3rem;
}
.proj_lorem{
    text-align: center;
margin-top: -4rem;
font-size: 1rem;
font-family: Poppins;
}
.project_button{
display: flex;
justify-content: center;
align-items: center;
gap: 3rem;
/* padding-left: 300px; */

}
.projectbutton{
    margin: 0 0.65rem;
     background-color: rgb(248, 248, 248);
    color:rgb(0, 0, 0);
    border: 1px solid black;
    padding:0.65rem 1.25rem;
    cursor:pointer;
    border-radius: 0.5rem;
    font-family: Poppins;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.projectbutton:hover{
    background-color: rgb(237, 100, 2);
    color: white;
}
.proj_box{
display: flex;
gap: 1.25rem;
justify-content: center;
margin-top: 3rem;
}
.semprojbox{

  width: 21.5rem;
  height: 18.5rem;
  text-align: center;
  border-radius: 0.75rem;
    box-shadow: 0 0 1rem #ffffff; 
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

}
.semprojbox:hover{
    width:22.5rem;
    height: 19.5rem;
    box-shadow: 0 0 2rem #dad9d9;
}
.semprojheading{
    margin-right: 15.6rem;
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    color: rgb(237, 100, 2);
    font-family: Poppins;
}
.semprojpara{
text-align: left;
margin-left: 0.6rem;
font-weight: 700;
font-family: Poppins;
}
.testimonial{
    display:flex;
    /* justify-content:space-between; */
    flex-direction: column;
    margin: 2.5rem 3rem 0 3rem;
    background-color: #ffffff;
    
}
.testimonial-card{
  background-color: #f8f8f8;
  width: 30.25rem;
  height: 13.75rem;
  border-radius: 1rem;
  margin: auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem #ffffff; 
  transition: box-shadow 1s ease-in-out;
}
.testimonial-card:hover{
  box-shadow: 0 0 1rem #fe6a0d;
}
.test-heading{
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
    font-size: 3rem;
    font-family: Poppins;
}
.test-lorem{
margin-top: -2rem;
text-align: center;
font-size: 1rem;
font-family: Poppins;
}
.testimonial-image{
    margin-top: 4rem;
    /* margin-left: 8rem; */
}
.testimonial-lorem{
    margin-top: -6.25rem;
    margin-left: 7.6rem;
    font-size: 0.8rem;
    font-family: Poppins;
}
.contactus{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin: 2.5rem 3rem 0 3rem;
    flex-direction: column;
}
.contactheading{
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
    font-size: 3rem;
    font-family: Poppins;
}
.contactlorem{
    margin-top: -4.4rem;
    text-align: center;
    font-family: Poppins;
}
.contact{
    background-color: rgb(237, 100, 2);
    border: none;
    padding:0.6rem 1.25rem;
    cursor:pointer;
    border-radius: 0.4rem;
    color: white;
    transition: all 0.5s;
  cursor: pointer;
}
.contact:hover{
    opacity: 0.6rem;
    background-color: rgb(203, 85, 1);
}
.contact-form {
  display: flex;            
  justify-content: center;  
  gap: 1.25rem;                
  margin-top: 1.25rem;
}

input[type="email"] {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  width: 18.75rem;
  font-size: 1rem;
  font-family: Poppins;
}
input[type="email"]{
    outline-color: #fe6a0d;
}
.footer{
    background-color: rgb(255, 255, 255);
    margin: 2.5rem 3rem 0 3rem;
    display: flex;
    flex-direction: column;
}
.footerheading{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 3rem;
    font-family: Poppins;
}
.bottomnav{
    margin-top: 2rem;
    justify-content: center;
     display:flex;
    gap: 2.5rem;
    font-size: 0.85rem;
    font-family: Poppins;
}
.bottomnav a {
    text-decoration:none;
    padding: 1rem;
    color: black;
    transition: color 0.5s ease-in-out;
}

.bottomnav a:hover {
    color: rgb(237, 100, 2);
}
.bottomicon{
    margin: auto;
    margin-top: 3rem;
    /* justify-content: center; */
}
@media only screen and (max-width: 500px) {
    .mydiv{
         flex-direction: column;
        justify-content: left;
        flex-wrap: wrap;
    }
    .topnav {
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        margin-left: 0.85rem;
        flex-wrap: wrap;
    }

    .button {
        margin-top: 0.6rem;
        align-self: center;
        margin-left: 1rem;
    }
   .Intro{
    /* flex-direction: column; */
    text-align: center;
    flex-wrap: wrap;
    /* margin-right: 6rem; */
    /* background-color: #fe6a0d; */
    padding-right: 60px;
   }
   .introp{
    margin-left: -80px;
    margin-right: -80px;
    text-align: left;
   }
   .ui,.designer{
    font-size: 2rem;
   }
   .picture{
     /* margin-left: 17px; */
     padding-left: 25px;
   }
   .icon{
    padding-right: 75px;
   }
    .About_me {
        flex-direction: column;
        text-align: center;
    }
    .image2 {
        margin-right: 11.25rem;
        margin-top: 1.25rem;
    }
    .aboutme{
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto;
   }
    .slider{
      margin: 0 auto;
      width: 90%;
   }
   .lorem{
    margin:auto;
   }
    .ser_box{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1.25rem;
    }
   .box{ 
    height: auto;
    width:auto;
    margin: 0 1rem 0 1rem;
   }
   .box_para{
   flex-wrap: wrap;
   text-align: left;
   }
   .ser_lorem{
    margin-right: 0.6rem;
   }
  .my_project{
    flex-direction: column;
    text-align: center;
  }
  .project_button{
    /* background-color: #fe6a0d; */
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 4rem;
  }
  .projectbutton{
    align-items: center;
    justify-items: center;
    margin-top: 15px;
    margin-left: 1.5rem;
  }
  .proj_box{
    flex-direction: column;
  }
  .semprojbox{
    align-content: center;
    margin-left: 1rem;
  }
  .footerheading{
    flex-direction: column;
    text-align: center;
  }
  .bottomnav{
            flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        margin-left: 0.85rem;
        flex-wrap: wrap;
  }
  input[type="email"]{
    width: 0 auto;
  }
  .contact{
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .contact-form{
    flex-direction: column;
  }
  .testimonial-card{
    margin: auto;
    width: 20.25rem;
   height: 13.75rem;
  }
  .test-heading{
    margin-left: -20px;
  }
}
